In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805918 sha256=5e4dc2ada5e868e7c5618b84db59095b7e4862794e127122663d854678b865bc
  Stored in directory: c:\users\meetp\appdata\local\pip\cache\wheels\23\f6\d3\110e53bd43baeb8d7d38049733d48e39cbecd056f01dba7ee8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
spark

In [40]:
df_pyspark=spark.read.csv('test1.csv')

In [6]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

# PySpark DataFrames - Part 1

In [9]:
##read the dataset
spark.read.option('header','true').csv('test1.csv')

DataFrame[Name: string, Age: string]

In [15]:
spark.read.option('header','true').csv('test1.csv').show()

+-------+---+
|   Name|Age|
+-------+---+
| Chetna| 20|
|  Richa| 30|
|Lirisha| 10|
+-------+---+

In [41]:
df_pyspark1= spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [19]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [20]:
#inferSchema lets it use the original datatypes of the dataframe. If this input is not given, it will print everything as string

In [22]:
#another way of reading file
df_pyspark2 = spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark2.show()

+-------+---+
|   Name|Age|
+-------+---+
| Chetna| 20|
|  Richa| 30|
|Lirisha| 10|
+-------+---+

In [23]:
df_pyspark2.columns

['Name', 'Age']

In [24]:
df_pyspark2.head(2)

[Row(Name='Chetna', Age=20), Row(Name='Richa', Age=30)]

In [25]:
#Select any column
df_pyspark2.select('Age').show()

+---+
|Age|
+---+
| 20|
| 30|
| 10|
+---+

In [26]:
#Select multiple columns
df_pyspark2.select(['Age','Name']).show()

+---+-------+
|Age|   Name|
+---+-------+
| 20| Chetna|
| 30|  Richa|
| 10|Lirisha|
+---+-------+

In [28]:
df_pyspark2['Name']

Column<'Name'>

In [29]:
df_pyspark2.dtypes

[('Name', 'string'), ('Age', 'int')]

In [31]:
df_pyspark2.describe().show()

+-------+------+----+
|summary|  Name| Age|
+-------+------+----+
|  count|     3|   3|
|   mean|  null|20.0|
| stddev|  null|10.0|
|    min|Chetna|  10|
|    max| Richa|  30|
+-------+------+----+

In [35]:
df_pyspark2.columns

['Name', 'Age']

In [44]:
#Adding New Columns
#another way of reading file
df_pyspark2 = spark.read.csv('test1.csv',header=True,inferSchema=True)

df_pyspark2=df_pyspark2.withColumn('Experience',df_pyspark2['Age']*2)

In [45]:
df_pyspark2.columns

['Name', 'Age', 'Experience']

In [47]:
#Dropping colums
df_pyspark2=df_pyspark2.drop('Experience')
df_pyspark2.show()

+-------+---+
|   Name|Age|
+-------+---+
| Chetna| 20|
|  Richa| 30|
|Lirisha| 10|
+-------+---+

In [48]:
#Rename Columns
df_pyspark2.withColumnRenamed('Name','New Name').show()

+--------+---+
|New Name|Age|
+--------+---+
|  Chetna| 20|
|   Richa| 30|
| Lirisha| 10|
+--------+---+

In [49]:
df_pyspark3 = spark.read.csv('Test2.csv',header=True,inferSchema=True)

In [50]:
df_pyspark3.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Chetna|  20|        10|   300|
|  Richa|  30|        15|   500|
|Lirisha|  10|         7|   400|
|   Rina|  80|      null|    18|
|   Tinu|null|      null|   760|
+-------+----+----------+------+

In [51]:
df_pyspark3.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
+-------+---+----------+------+

In [53]:
df_pyspark3.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
+-------+---+----------+------+

In [59]:
##threshold
#atleast threshold values should be there and rest can be null for each row
df_pyspark3.na.drop(how='any',thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
|   Rina| 80|      null|    18|
+-------+---+----------+------+

In [60]:
#Subset
#subset columns Null value gets dropped
df_pyspark3.na.drop(how='any', subset = ['Experience']).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
+-------+---+----------+------+

In [65]:
df_pyspark3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [69]:
#Filling the missing Value
df_pyspark3.na.fill('Missing Values','Experience').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Chetna|  20|        10|   300|
|  Richa|  30|        15|   500|
|Lirisha|  10|         7|   400|
|   Rina|  80|      null|    18|
|   Tinu|null|      null|   760|
+-------+----+----------+------+

In [75]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy('mean')

In [76]:
imputer.fit(df_pyspark3).transform(df_pyspark3).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
| Chetna|  20|        10|   300|         20|                10|           300|
|  Richa|  30|        15|   500|         30|                15|           500|
|Lirisha|  10|         7|   400|         10|                 7|           400|
|   Rina|  80|      null|    18|         80|                10|            18|
|   Tinu|null|      null|   760|         35|                10|           760|
+-------+----+----------+------+-----------+------------------+--------------+

## Filter Operations

In [77]:
##Salary <500
df_pyspark3.filter('Salary<=500').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
|   Rina| 80|      null|    18|
+-------+---+----------+------+

In [78]:
df_pyspark3.filter('Salary<=500').select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
| Chetna| 20|
|  Richa| 30|
|Lirisha| 10|
|   Rina| 80|
+-------+---+

In [79]:
df_pyspark3.filter(df_pyspark3['Salary']<=500).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
|   Rina| 80|      null|    18|
+-------+---+----------+------+

In [80]:
df_pyspark3.filter((df_pyspark3['Salary']<=500)& (df_pyspark3['Salary']>=100)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Chetna| 20|        10|   300|
|  Richa| 30|        15|   500|
|Lirisha| 10|         7|   400|
+-------+---+----------+------+

In [82]:
df_pyspark3.filter(~(df_pyspark3['Salary']<=500)).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|Tinu|null|      null|   760|
+----+----+----------+------+

## Groupby

In [85]:
df_pyspark3.groupby('Name').sum().show()

+-------+--------+---------------+-----------+
|   Name|sum(Age)|sum(Experience)|sum(Salary)|
+-------+--------+---------------+-----------+
|  Richa|      30|             15|        500|
|   Tinu|    null|           null|        760|
|Lirisha|      10|              7|        400|
|   Rina|      80|           null|         18|
| Chetna|      20|             10|        300|
+-------+--------+---------------+-----------+

In [87]:
df_pyspark3.groupby('Age').mean().show()

+----+--------+---------------+-----------+
| Age|avg(Age)|avg(Experience)|avg(Salary)|
+----+--------+---------------+-----------+
|  20|    20.0|           10.0|      300.0|
|  10|    10.0|            7.0|      400.0|
|  80|    80.0|           null|       18.0|
|  30|    30.0|           15.0|      500.0|
|null|    null|           null|      760.0|
+----+--------+---------------+-----------+

In [88]:
df_pyspark3.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|       1978|
+-----------+